<div class="container-fluid">
  <div class="row" style="color:red;">
    *Note that the time of the lecture and the time of the tutorial sometimes are tied with the group. i didn't take that into
    consideration. please be sure that the lecture and the group are matching or they can be different
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <select class="custom-select" (change)="showTime($event.target.value)">
        <option> Please Select a course... </option>
        <option *ngFor="let course of uniqueCourses" [id]="course.id">{{course}}</option>

      </select>
    </div>

    <div class="col-sm text-center" *ngIf="didSelectCourse">
      <select class="custom-select" (change)="selectLecture($event)">
        <option> Please Choose a Lecture... </option>  
        <option *ngFor="let lecture of currentCourseLectures" [id]="lecture.id">{{lecture?.day}} - {{lecture?.from}} / {{lecture?.to}} - group {{lecture?.group}}</option>
      </select>
    </div>

    <div class="col-sm text-center" *ngIf="didSelectCourse">
      <select class="custom-select" (change)="selectTutorial($event)">
        <option> Please Select a Tutorial... </option>
        <option *ngFor="let tutorial of currentCourseTutorials" [id]="tutorial.id">{{tutorial?.day}} - {{tutorial?.from}} / {{tutorial?.to}} - group {{tutorial?.group}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-12 text-center" *ngIf="error" style="color:red">
    {{error}}
  </div>
  <div class="col-md-12 text-center" style="margin-top:15px;">
    <button class="btn btn-primary" (click)="addCourse()">ADD</button>
  </div>
  <div class="row">
    <div class="col-sm text-center">Saturday</div>
    <div class="col-sm text-center">Sunday</div>
    <div class="col-sm text-center">Monday</div>
    <div class="col-sm text-center">Tuesday</div>
    <div class="col-sm text-center">Wednesday</div>
    <div class="col-sm text-center">Thursday</div>
  </div>
  <div class="row">
    <div class="col-sm text-center">
      <span *ngFor="let course of saturday" style="background-color:green;color:whitesmoke" (dblclick)="removeCourse($event)">
        {{course?.code}} - {{course?.type}} - {{course?.from}}/{{course?.to}}
        <br><br>
      </span>
    </div>
    <div class="col-sm text-center">
      <span *ngFor="let course of sunday" style="background-color:green;color:whitesmoke" (dblclick)="removeCourse($event)">
        {{course?.code}} - {{course?.type}} - {{course?.from}}/{{course?.to}}
        <br><br>
      </span>
    </div>
    <div class="col-sm text-center">
      <span *ngFor="let course of monday" style="background-color:green;color:whitesmoke" (dblclick)="removeCourse($event)">
        {{course?.code}} - {{course?.type}} - {{course?.from}}/{{course?.to}}
        <br><br>
      </span>
    </div>
    <div class="col-sm text-center">
      <span *ngFor="let course of tuesday" style="background-color:green;color:whitesmoke" (dblclick)="removeCourse($event)">
        {{course?.code}} - {{course?.type}} - {{course?.from}}/{{course?.to}}
        <br><br>
      </span>
    </div>
    <div class="col-sm text-center">
      <span *ngFor="let course of wednesday" style="background-color:green;color:whitesmoke" (dblclick)="removeCourse($event)">
        {{course?.code}} - {{course?.type}} - {{course?.from}}/{{course?.to}}
        <br><br>
      </span>
    </div>
    <div class="col-sm text-center">
      <span *ngFor="let course of thursday" style="background-color:green;color:whitesmoke" (dblclick)="removeCourse($event)">
        {{course?.code}} - {{course?.type}} - {{course?.from}}/{{course?.to}}
        <br><br>
      </span>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Go help and make a pull request for me at <a href="https://github.com/ahmedHusseinF/cufe-schedule">github</a></span>
  </div>
</footer>
